.image-container{
    width: 18rem;
    height: 20rem;
}
.header-container{
    display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}
.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;
    margin-top: 0;
  }
  
  .nav > li {
    color: white;
  }
  
  .nav > li:hover {
    color: turquoise;
  }

.products{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:20px;
}
  
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.home-container{
    display: flex;
    gap: 20px
}

.total-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
    background-color: rgb(160, 161, 161);
}